*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-bg: hsl(212, 45%, 89%);
    --color-card: hsl(0, 0%, 100%);
    --color-title: hsl(218, 44%, 22%);
    --color-text: hsl(216, 15%, 48%);
    --shadow-card: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
    --attribution-link: hsl(228, 45%, 44%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--color-card);
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 320px;
    gap: 24px;
    box-shadow: var(--shadow-card);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card-text h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--color-title);
}
.card-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--color-text);
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: var(--attribution-link);
}
